//
// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
//


//
// Foreground colors
//
$fg_color: #D3DAE3;
$secondary_fg_color: scale-color($fg_color, $alpha: -25%);

$dim_fg_color: scale-color($fg_color, $alpha: -60%);

$selected_fg_color: #FFFFFF;

$insensitive_fg_color: scale-color($fg_color, $alpha: -60%);
$insensitive_secondary_fg_color: scale-color($secondary_fg_color, $alpha: -60%);


//
// Inverted foreground colors
//
$inverted_fg_color: #ECEFF1;
$inverted_secondary_fg_color: scale-color($inverted_fg_color, $alpha: -25%);
$inverted_dim_fg_color: scale-color($inverted_fg_color, $alpha: -60%);


//
// Background colors
//
$bg_color: #383C4A;
$base_color: #404552;
$secondary_dark_color: mix($bg_color, black, 80%);

$fill_color: scale-color($fg_color, $alpha: -85%);
$semi_fill_color: scale-color($fg_color, $alpha: -93%);

$panel_bg_color: mix(#263238, #000000, 50%);

$selected_bg_color: mix($bg_color, white, 75%);

$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_fill_color: scale-color($fill_color, $alpha: -60%);


//
// Inverted background colors
//
$inverted_bg_color: #383C4A;
$inverted_base_color: #404552;
$inverted_dim_bg_color: scale-color($inverted_bg_color, $alpha: -80%);


//
// Accent colors
//
$accent_color: #D3DAE3;
$secondary_accent_color: scale-color($accent_color, $alpha: -20%);
$accent_fill_color: scale-color($accent_color, $alpha: -90%);
$accent_active_fill_color: scale-color($accent_color, $alpha: -75%);


//
// Misc colors
//
$borders_color: scale-color(#000000, $alpha: -88%);
$borders_edge: scale-color(#000000, $alpha: -95%);
$top_hilight: $borders_edge;
$borders_highlight: scale-color(#FFFFFF, $alpha: -93%);

$link_color: #EEEEEE;
$link_visited_color: #9C27B0;

$warning_color: #FF9800;
$error_color: #F44336;
$success_color: #00E676;

$suggested_color: #009688;

$insensitive_borders_color: $borders_color;


//
// OSD Foreground colors
//
$osd_fg_color: $inverted_fg_color;
$osd_secondary_fg_color: scale-color($osd_fg_color, $alpha: -25%);

$osd_dim_fg_color: scale-color($osd_fg_color, $alpha: -50%);

$insensitive_osd_fg_color: scale-color($osd_fg_color, $alpha: -60%);
$insensitive_osd_secondary_fg_color: scale-color($osd_secondary_fg_color, $alpha: -60%);


//
// OSD Background colors
//
$osd_bg_color: $bg_color;
$osd_base_color: $base_color;

$osd_fill_color: scale-color($osd_fg_color, $alpha: -60%);
$osd_semi_fill_color: scale-color($osd_fg_color, $alpha: -80%);
$osd_slight_fill_color: scale-color($osd_fg_color, $alpha: -88%);

$osd_indicator_color: $selected_bg_color;

$osd_borders_color: $borders_color;
$osd_outer_borders_color: transparent;
$tooltip_borders_color: $osd_borders_color;

$insensitive_osd_fill_color: scale-color($osd_fill_color, $alpha: -60%);

