/**********************
 * Workspaces to Dock *
 **********************/
#workspacestodockTriggerSpacer, #workspacestodockContainerWrapper, #workspacestodockContainer {
  background-color: rgba(19, 25, 28, 0); }

#workspacestodockDock {
  padding: 0; }
  #workspacestodockDock.top .workspace-thumbnails {
    border-radius: 2px 2px 0 0;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.top.inside .workspace-thumbnails {
    border-radius: 0;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.top.inside .workspacestodock-shortcuts-panel {
    padding: 2px;
    spacing: 0;
    border-radius: 0;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.top.fullheight .workspace-thumbnails,
  #workspacestodockDock.top.fullheight .workspacestodock-shortcuts-panel {
    border-radius: 0; }
  #workspacestodockDock.top .workspacestodock-shortcuts-panel {
    padding: 2px;
    spacing: 0;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 rgba(236, 239, 241, 0.2); }
  #workspacestodockDock.bottom .workspace-thumbnails {
    border-radius: 0 0 2px 2px;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.bottom.inside .workspace-thumbnails {
    border-radius: 0;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.bottom.inside .workspacestodock-shortcuts-panel {
    padding: 2px;
    spacing: 0;
    border-radius: 0;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.bottom.fullheight .workspace-thumbnails,
  #workspacestodockDock.bottom.fullheight .workspacestodock-shortcuts-panel {
    border-radius: 0; }
  #workspacestodockDock.bottom .workspacestodock-shortcuts-panel {
    padding: 2px;
    spacing: 0;
    border-radius: 0;
    box-shadow: inset 0 1px 0 rgba(236, 239, 241, 0.2); }
  #workspacestodockDock.left .workspace-thumbnails {
    border-radius: 0 2px 2px 0;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.left.inside .workspace-thumbnails {
    border-radius: 0;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.left.inside .workspacestodock-shortcuts-panel {
    padding: 2px;
    spacing: 0;
    border-radius: 0;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.left.fullheight .workspace-thumbnails,
  #workspacestodockDock.left.fullheight .workspacestodock-shortcuts-panel {
    border-radius: 0; }
  #workspacestodockDock.left .workspacestodock-shortcuts-panel {
    padding: 2px;
    spacing: 0;
    border-radius: 0;
    box-shadow: inset -1px 0 0 rgba(236, 239, 241, 0.2); }
  #workspacestodockDock.right .workspace-thumbnails {
    border-radius: 2px 0 0 2px;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.right.inside .workspace-thumbnails {
    border-radius: 0;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.right.inside .workspacestodock-shortcuts-panel {
    padding: 2px;
    spacing: 0;
    border-radius: 0;
    background-color: rgba(19, 25, 28, 0);
    box-shadow: none; }
  #workspacestodockDock.right.fullheight .workspace-thumbnails,
  #workspacestodockDock.right.fullheight .workspacestodock-shortcuts-panel {
    border-radius: 0; }
  #workspacestodockDock.right .workspacestodock-shortcuts-panel {
    padding: 2px;
    spacing: 0;
    border-radius: 0;
    box-shadow: inset 1px 0 0 rgba(236, 239, 241, 0.2); }

.workspacestodock-shortcuts-panel-popupmenu {
  padding: 2px;
  spacing: 0; }

#workspacestodockDock .app-well-app .overview-icon {
  border-radius: 100px; }
#workspacestodockDock .app-well-app:hover .overview-icon {
  background-color: rgba(236, 239, 241, 0.2); }
#workspacestodockDock .app-well-app:active .overview-icon, #workspacestodockDock .app-well-app:focus .overview-icon, #workspacestodockDock .app-well-app:checked .overview-icon {
  background-color: #6a6d77; }
#workspacestodockDock .workspacestodock-shortcuts-panel > StButton {
  background-size: contain; }

.workspacestodock-shortcut-button-icon {
  padding: 6px; }
.workspacestodock-shortcut-button-symbolic-icon {
  padding: 8px; }

#workspacestodockDock .popup-separator-menu-item {
  margin: 2px; }

.workspacestodock-shortcut-panel-separator {
  -margin-horizontal: 2px; }
.workspacestodock-shortcut-panel-filler {
  height: 1px;
  padding: 0;
  -margin-horizontal: 2px;
  -gradient-height: 1px;
  -gradient-start: transparent;
  -gradient-end: transparent; }

#workspacestodockDock.top .workspacestodock-shortcut-button-windowcount-image-1 {
  background-image: url("assets/one-top.svg"); }
#workspacestodockDock.top .workspacestodock-shortcut-button-windowcount-image-2 {
  background-image: url("assets/two-top.svg"); }
#workspacestodockDock.top .workspacestodock-shortcut-button-windowcount-image-3 {
  background-image: url("assets/three-top.svg"); }
#workspacestodockDock.top .workspacestodock-shortcut-button-windowcount-image-4 {
  background-image: url("assets/four-top.svg"); }
#workspacestodockDock.bottom .workspacestodock-shortcut-button-windowcount-image-1 {
  background-image: url("assets/one-bottom.svg"); }
#workspacestodockDock.bottom .workspacestodock-shortcut-button-windowcount-image-2 {
  background-image: url("assets/two-bottom.svg"); }
#workspacestodockDock.bottom .workspacestodock-shortcut-button-windowcount-image-3 {
  background-image: url("assets/three-bottom.svg"); }
#workspacestodockDock.bottom .workspacestodock-shortcut-button-windowcount-image-4 {
  background-image: url("assets/four-bottom.svg"); }
#workspacestodockDock.left .workspacestodock-shortcut-button-windowcount-image-1 {
  background-image: url("assets/one-left.svg"); }
#workspacestodockDock.left .workspacestodock-shortcut-button-windowcount-image-2 {
  background-image: url("assets/two-left.svg"); }
#workspacestodockDock.left .workspacestodock-shortcut-button-windowcount-image-3 {
  background-image: url("assets/three-left.svg"); }
#workspacestodockDock.left .workspacestodock-shortcut-button-windowcount-image-4 {
  background-image: url("assets/four-left.svg"); }
#workspacestodockDock.right .workspacestodock-shortcut-button-windowcount-image-1 {
  background-image: url("assets/one-right.svg"); }
#workspacestodockDock.right .workspacestodock-shortcut-button-windowcount-image-2 {
  background-image: url("assets/two-right.svg"); }
#workspacestodockDock.right .workspacestodock-shortcut-button-windowcount-image-3 {
  background-image: url("assets/three-right.svg"); }
#workspacestodockDock.right .workspacestodock-shortcut-button-windowcount-image-4 {
  background-image: url("assets/four-right.svg"); }

.workspacestodock-workspace-caption {
  color: rgba(236, 239, 241, 0.5); }
  .workspacestodock-workspace-caption-container {
    padding: 0;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12); }
  .workspacestodock-workspace-caption-background {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0 0 2px 2px;
    background-color: #383C4A; }
    .workspacestodock-workspace-caption-background-current {
      color: #ECEFF1; }

.workspacestodock-caption-windowapps {
  padding: 0; }
  .workspacestodock-caption-windowapps-menu {
    -boxpointer-gap: 12px; }
    .workspacestodock-caption-windowapps-menu .window-close {
      height: 20px;
      width: 20px;
      background-size: 24px; }
  .workspacestodock-caption-windowapps-menu-label {
    padding: 0 10px 0 10px; }
  .workspacestodock-caption-windowapps-button {
    padding: 0 4px; }
    .workspacestodock-caption-windowapps-button-icon {
      padding: 2px 2px 0 2px;
      border: none;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none; }
    .workspacestodock-caption-windowapps-button:hover > .workspacestodock-caption-windowapps-button-icon {
      background-color: rgba(0, 0, 0, 0.01);
      box-shadow: inset 0 -2px 0 rgba(236, 239, 241, 0.4); }
    .workspacestodock-caption-windowapps-button-active > .workspacestodock-caption-windowapps-button-icon, .workspacestodock-caption-windowapps-button-active:hover > .workspacestodock-caption-windowapps-button-icon {
      background-color: rgba(0, 0, 0, 0.01);
      box-shadow: inset 0 -2px 0 #6a6d77; }

.workspacestodock-caption-number {
  height: 20px;
  min-width: 7px;
  padding: 0 7px;
  border-radius: 100px;
  color: rgba(236, 239, 241, 0.5);
  background-color: #383C4A;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), 0 1px 1px rgba(0, 0, 0, 0.12); }
  .workspacestodock-caption-number-current {
    color: #D3DAE3;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32), 0 3px 2px rgba(0, 0, 0, 0.24); }
.workspacestodock-caption-name {
  height: 20px;
  min-width: 7px;
  padding: 0 7px;
  border-radius: 2px;
  color: rgba(236, 239, 241, 0.5);
  background-color: #383C4A;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), 0 1px 1px rgba(0, 0, 0, 0.12); }
  .workspacestodock-caption-name-current {
    color: #D3DAE3;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32), 0 3px 2px rgba(0, 0, 0, 0.24); }
.workspacestodock-caption-windowcount {
  min-width: 7px;
  padding: 0 7px;
  border: none;
  color: rgba(236, 239, 241, 0.5);
  background-color: transparent;
  font-size: 12px;
  font-weight: 700;
  text-align: center; }
  .workspacestodock-caption-windowcount-current {
    color: #ECEFF1; }
  .workspacestodock-caption-windowcount-image {
    width: 20px;
    height: 16px; }
.workspacestodock-caption-spacer {
  width: 1px;
  border: 1px solid transparent; }

.workspacestodock-caption-windowcount-image-1 {
  background-image: url("assets/h-one.svg"); }
.workspacestodock-caption-windowcount-image-2 {
  background-image: url("assets/h-two.svg"); }
.workspacestodock-caption-windowcount-image-3 {
  background-image: url("assets/h-three.svg"); }
.workspacestodock-caption-windowcount-image-4 {
  background-image: url("assets/h-four.svg"); }
