/*************************
 * Window-list extension *
 *************************/
.bottom-panel {
  height: 30px; }

.window-list {
  font-size: 10pt;
  spacing: 2px; }

.window-button {
  padding: 1px; }
  .window-button:first-child:ltr {
    padding-left: 2px; }
  .window-button:last-child:rtl {
    padding-right: 2px; }
  .window-button-box {
    spacing: 4px; }
  .window-button > StWidget {
    -st-natural-width: 18.75em;
    max-width: 18.75em;
    padding: 3px 6px 1px;
    border-radius: 0;
    color: rgba(236, 239, 241, 0.75);
    background-color: rgba(19, 25, 28, 0.01);
    background-gradient-drection: vertical;
    background-gradient-start: rgba(19, 25, 28, 0.01);
    background-gradient-end: rgba(19, 25, 28, 0.01);
    box-shadow: none;
    text-shadow: none; }
  .window-button:hover > StWidget {
    color: #ECEFF1;
    background-gradient-drection: vertical;
    background-gradient-start: rgba(19, 25, 28, 0.01);
    background-gradient-end: rgba(19, 25, 28, 0.01);
    box-shadow: inset 0 -2px 0 rgba(236, 239, 241, 0.4); }
  .window-button:active > StWidget, .window-button:focus > StWidget {
    color: #ECEFF1;
    background-gradient-drection: vertical;
    background-gradient-start: rgba(19, 25, 28, 0.01);
    background-gradient-end: rgba(19, 25, 28, 0.01);
    box-shadow: inset 0 -2px 0 #6a6d77; }
  .window-button.focused > StWidget, .window-button.focused:active > StWidget {
    color: #ECEFF1;
    box-shadow: none;
    box-shadow: inset 0 -2px 0 #6a6d77; }
  .window-button.minimized > StWidget {
    color: rgba(236, 239, 241, 0.4);
    box-shadow: none; }
  .window-button.minimized:hover > StWidget {
    color: #ECEFF1;
    box-shadow: inset 0 -2px 0 rgba(236, 239, 241, 0.4); }
  .window-button.minimized:active > StWidget {
    color: #ECEFF1;
    box-shadow: inset 0 -2px 0 #6a6d77; }
  .window-button-icon {
    width: 24px;
    height: 24px; }

.window-list-workspace-indicator {
  padding: 3px; }
  .window-list-workspace-indicator > StWidget {
    border: none;
    color: rgba(236, 239, 241, 0.75);
    background-color: rgba(19, 25, 28, 0.01);
    background-gradient-drection: vertical;
    background-gradient-start: rgba(19, 25, 28, 0.01);
    background-gradient-end: rgba(19, 25, 28, 0.01);
    font-weight: 700; }
  .window-list-workspace-indicator:hover {
    background-gradient-drection: vertical;
    background-gradient-start: rgba(19, 25, 28, 0.01);
    background-gradient-end: rgba(19, 25, 28, 0.01);
    box-shadow: inset 0 -2px 0 rgba(236, 239, 241, 0.4); }
    .window-list-workspace-indicator:hover > StWidget {
      color: #ECEFF1; }
  .window-list-workspace-indicator:active, .window-list-workspace-indicator:checked, .window-list-workspace-indicator:focus {
    background-gradient-drection: vertical;
    background-gradient-start: rgba(19, 25, 28, 0.01);
    background-gradient-end: rgba(19, 25, 28, 0.01);
    box-shadow: inset 0 -2px 0 #6a6d77; }
    .window-list-workspace-indicator:active > StWidget, .window-list-workspace-indicator:checked > StWidget, .window-list-workspace-indicator:focus > StWidget {
      color: #ECEFF1; }

.notification {
  font-weight: 500; }
